.upBar{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    flex-wrap: wrap;
    
}
.lSelector{
    padding:5px;
    align-self: flex-end;
    margin-left: auto;    
    margin-right: 45px;
}
.helpIcon{
    margin-top: 15px;
    margin-left: 10px;
}

h6{
    margin-left: auto;
    padding-left:45px;
}

@media (max-width: 690px) {
.lSelector{
    margin:0;
}
h6{
    margin-left: 0;
    padding-left:0px;
}
}


.selection{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}