.classif{
    display: flex;
  justify-content: center;
  align-items: center;
}
.graph{
    display:flex;
}
p{align-items: center;
text-align: center;}

.pMargin {
    margin-top: 15px;
}
h3{
    text-align:center;
    margin:10px;
}