.upBar{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    
}
.lSelector{
    right: 5%;
    padding:5px;
    position:absolute;
    top:50%;
    transform:translate(-50%,-5%)
}
.helpIcon{
    margin-top: 15px;
    margin-left: 10px;
}