.getBackCenter{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
}
h2{
    text-align:center;
    margin:10px;
}
.explication{
    margin:25px;
    padding:0px 150px 0px 150px;
    
}