.selection{
margin-top:5px;
display: flex;
align-items: center;
justify-content: center;

}
.buttonclass{
    margin:20px;
    width: 10em;
    vertical-align: middle;
}
.calendrier{
    width: 10em;
    margin:10px;
    vertical-align: middle;
}
h6{
    text-align: center;
    margin-top: 15px;
}

